@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: segoe;
  src: url("/src/assets/fonts/Segoe\ UI\ Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: segoe;
}

/* styles.css */
.scrollbar-thin {
  scrollbar-width: thin; /* For Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px; /* For WebKit browsers */
  height: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
